<base href="/">
<div class="container">
    <div class="row">
        <!-- 左侧（菜单+login）-->
        <div class="col-md-2 left-menu">
            <div class="left-menu-header">
                Login
            </div>
            <div class="nav nav-tabs left-menu-nav">
                <ul class="menu-items">
                    <menu-ui [menus]="menus"></menu-ui>
                </ul>
            </div>
        </div>
        <!--  右侧（内容+header）-->
        <div class="col-md-10 right-content">
            <div class="right-content-header">
                <h2>Hello, Angular2 & Typescript</h2></div>
            <div class="right-content-main">
                <div class="main">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
